{% extends "shared/layout.html" %}

{% block "content" %}
<form method="POST" class="mt-2">
  {% csrf_token %}
  <div>
    <label>Email</label>
    <input type="email" class="border border-black" name="email" />
  </div>
  <div>
    <label>Password</label>
    <input type="password" class="border border-black" name="password" />
  </div>
  <div>
    <label>Password 確認</label>
    <input type="password" class="border border-black" name="password_confirm" />
  </div>
  <button class="bg-red-500 text-2xl px-3 py-1 text-white rounded hover:bg-red-400">註冊</button>
</form>
{% endblock %}
