{% load static %}
<!DOCTYPE html>
<html data-theme="lofi" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python Developer</title>
  <script src="{% static "scripts/app.js" %}" type="module"></script>
  <link rel="stylesheet" href="{% static "styles/app.css" %}" />
</head>
<body>
  {% include "shared/flash.html" %}
  {% include "shared/navbar.html" %}
  <main class="container py-4 mx-auto">
    {% block "content" %}{% endblock %}
  </main>
</body>
</html>
