<div class="navbar bg-neutral text-neutral-content">
  <div class="flex-1">
    <a href="{% url "pages:home" %}" class="text-xl btn btn-ghost">PyDev</a>
  </div>
  <div class="flex-none">
    <ul class="px-1 menu menu-horizontal">
      <li>
        <a href="{% url "resumes:list" %}">公開履歷</a>
      </li>
      {% if user.is_authenticated %}
        <li><a>{{ user.username }}</a></li>
        <li><a hx-post="{% url "users:logout" %}">登出</a></li>
      {% else %}
        <li><a href="{% url "users:login" %}">登入</a></li>
        <li><a href="{% url "users:register" %}">註冊</a></li>
      {% endif %}
    </ul>
  </div>
</div>
