{% extends "shared/layout.html" %}

{% block "content" %}
<h1>{{ resume.title }}</h1>
<h3>{{ resume.skill }}</h3>
<article>
  <p>
    {{ resume.content }}
  </p>
</article>
<footer>
  <a href="{% url 'resumes:edit' resume.id %}">編輯</a>
  |
  <a href="{% url 'resumes:delete' resume.id %}">刪除</a>
</footer>

<section>
  <form method="POST" action="{% url 'resumes:comments' resume.id %}">
    {% csrf_token %}
    <textarea name="content"></textarea>
    <button>新增留言</button>
  </form>
</section>
{% endblock %}
