{% extends "shared/layout.html" %}

{% block "content" %}

<form method="POST" action="{% url 'resumes:like' resume.id %}">
  {% csrf_token %}
  <button class="btn btn-sm">
    {% if favorited %}
      <img src="/static/svg/heart-on.svg" />
    {% else %}
      <img src="/static/svg/heart-off.svg" />
    {% endif %}
  </button>
</form>

<h1>{{ resume.title }}</h1>
<h3>{{ resume.skill }}</h3>
<article>
  <p>
    {{ resume.content }}
  </p>
</article>

{% if resume.user == user %}
  <footer>
    <a href="{% url 'resumes:edit' resume.id %}" class="btn btn-sm">編輯</a>
    <a href="{% url 'resumes:delete' resume.id %}" class="btn btn-sm">刪除</a>
  </footer>
{% endif %}

<section>
  <form class="flex flex-col gap-2"
        hx-target="#comment-list"
        x-data="comment_form"
        hx-swap="afterbegin"
        hx-post="{% url 'resumes:comments' resume.id %}">
    {% csrf_token %}
    <div class="form-control">
      <textarea x-model="content" name="content" class="textarea textarea-bordered"></textarea>
    </div>
    <div>
      <button x-ref="btn" class="btn btn-md btn-primary">
        新增留言
      </button>
    </div>
  </form>
</section>

<ul id="comment-list">
{% for comment in comments %}
  {% include "comments/_comment.html" with comment=comment %}
{% endfor %}
</ul>

{% endblock %}
